{% extends "@Contao/frontend_module/_base.html.twig" %}

{% block content %}
    {% if not href %}
        {% block image %}
            {% if svg %}
                {{ svg|raw }}
            {% else %}
                {% set img_attributes = attrs()
                    .set('src', image)
                    .set('alt', alt|default)
                    .mergeWith(img_attributes|default)
                %}
                <img{{ img_attributes }}>
            {% endif %}
        {% endblock %}
    {% else %}
        {% set link_attributes = attrs()
            .set('href', href)
            .setIfExists('title', title)
            .mergeWith(link_attributes|default)
        %}
        <a{{ link_attributes }}>
            {{ block('image') }}
        </a>
    {% endif %}
{% endblock %}
